venv
venv/*

.idea
build
dist

*/__pycache__
*.pyc
*.pyo

*/node_modules

*.egg-info/
.eggs/

.codex

.venv/
venv/

*.zip

*.puml

example/

palette_library/*
palettes/user/*

.venv_path
projects.json

porypal_dump.md

porypal_dump.md

presets/*
porypal_dump.md
