venv
venv/*

.idea
build
dist

*/__pycache__
*.pyc
*.pyo

*/node_modules

*.egg-info/
.eggs/

.venv/
venv/

*.zip

*.puml

example/

palette_library/*
palettes/user/*
porypal_dump.md
CONTEXT_DUMP.md

.venv_path
porypal_dump.md

porypal_dump.md
